<h1>投稿一覧</h1>
<% @lists.each do |list| %>

  <p>タイトル:<%= list.title %> 
      <%= link_to "詳細へ", list_path(list.id) %> 
      <%= link_to "削除", destroy_path(list.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  </p>
<% end %>

<h1>新規投稿</h1>
<% @lists.each do |list| %>
<%= link_to "投稿する", new_path(list.id) %>
<% end %>